  <div class="container">
      <div class="row" >
          <div class="col-md-12 col-sm-12 ">
            <div class="example-container mat-elevation-z8">
              <div class="example-header">
                <mat-form-field>
                  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                </mat-form-field>
              </div>

              <mat-table #table [dataSource]="dataSource">
                <!-- Name Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef> Twitter </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                  <mat-header-cell *matHeaderCellDef> Descripcion </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.descripcion}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="idTwit">
                    <mat-header-cell *matHeaderCellDef> Acción </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      
                        <button  mat-icon-button color="primary" >
                            clikeando ando
                          </button>
                    
                    </mat-cell>
                  </ng-container>
               
                
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
              </mat-table>
            </div>

          </div>
      </div>
  </div>


