.chip {
  display: inline-block;
  /* height: 50px; */
  font-size: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 2px;
  }
  
  .chip img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border-color: blueviolet;
  }

  .emoji{
    height: 20px !important;
    width: 20px !important;
  }


  .my-panel .mat-dialog-container {
    
    padding: 1px !important;
}



.custom-img-vip{
  height: 100px!important;
  width: 100%!important;
  display: block !important;
  border-radius: 5% !important;
}

.custom-bagde-vip{
  position: absolute !important;
  padding: 2px  !important;
  border: 1px solid #ff8db4 !important;
  background-color: #ff4081 !important;
  color: white;
  font-weight: bold !important;
}

