
<div class="container">
    
    <div class="row mt-5" >
      <div class="col-12">
      	<p class="font-weight-bold">
      		CONTENIDO PARA ADULTOS
      	</p>
      	<p>
		  

		  	Si usted es menor de 18 años o si es ilegal en su comunidad ver material orientado para adultos, por favor abandone esta pagina.
			Haga clic en menor de edad si no esta autorizado para ver este contenido.
		</p>
      </div>
    </div>
    <div class="row" >
      <div class="col-12">
      	<div class="mx-auto" style="width:300px;">
      	 	<a mat-raised-button color="accent" href="/#/model/o-o">Mayor de edad</a>
 			<a mat-raised-button color="accent" href="http://www.google.com">Menor de edad</a>
     	</div> 
     </div>
    </div>
</div>






 