 <div class="container-fluid">
    
    <div class="row" >
          <div class="col-md-4 col-sm-12 p-0 ">
              <small>Esta viendo 10  promos de {{promos['length']}}</small>
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item {{i == 1 ? 'active':''}} max-img-promo" *ngFor="let p of promos | slice:0:10;let i = index">
                     <div class="row">
                      <div class="col">
                        <img class="d-block w-100 img-fluid" data-src="{{p.avatar}}" alt="First slide [800x400]" src="{{p.avatar}}" data-holder-rendered="true" style=" max-width: 100%;max-height: 100%;">
                      </div>
                      <div class="col">
                          <h5>{{p.id}}</h5>
                          <p class="text-primary small">{{p.promos[0].descripcion}}</p>
                          <button mat-raised-button color="accent">Accent</button>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            
          </div>
          <div id="card_{{data.id}}" class="col-md-4 col-sm-12 mt-2 p-0 border" *ngFor="let data of myData | slice:0:verItems ;let i = index">
           

            <div class="row alert-light mr-0 ml-0 " role="alert">
               
              <div class="col-10 pr-0 pl-1">
                
                <h5 class="card-title font-weight-bold  mt-1 mb-0">
                  <div class="chip" [hidden]="!hideme[i]">
                    <img   src="{{data.avatar}}" alt="Person" width="96" height="96" >
                  </div>
                {{data.id}} 
                  
                  <button type="button" class="btn {{data.disponible ? 'btn-primary': 'btn-light'}}  p-0">
                  {{data.disponible ? 'Disponible': ''}} 
                    <span class="badge {{data.ciudad ? 'badge-light': ''}}">{{data.ciudad}} </span>
                  </button>
                </h5>
                <div>atiende:
                  <a href="https://api.whatsapp.com/send?phone=521{{data.telefono}}" class="" target="_blank">
                  <img src="assets/if_whats.png" width="20"  height="20" class="" alt="atiende whatsapp">
                </a>
                <img src="assets/if_phone.png" width="20"  height="20" class="" alt="atiende llamadas">
                <img src="assets/if_twitter.png" width="20"  height="20" class="" alt="atiene DM twitter">
                <a href="https://api.whatsapp.com/send?phone=521{{data.telefono}}"  target="_blank">
                  {{data.telefono}}
                </a>
                </div>
                
              </div>
              <div class="col pr-0 pl-0">
                <mat-icon class="float-right pointer mr-1 mt-1" [hidden]="!hideme[i]" (click)="gotoCard(data.id);hideme[i] = !hideme[i];" data-toggle="collapse" [attr.data-target]="'.multi-collapse'+i">keyboard_arrow_down</mat-icon>
                <mat-icon class="float-right pointer mr-1 mt-1" [hidden]="hideme[i]"  (click)="gotoCard(data.id);hideme[i] = !hideme[i];" data-toggle="collapse" [attr.data-target]="'.multi-collapse'+i">keyboard_arrow_up</mat-icon>
               
              </div>
            </div>
          
          <div class="col pl-1 pr-1 ">
                  <div class="collapse multi-collapse{{i}} show index-content" id="multiCollapse1">
                    <div class="card card-body p-1" >
                            <img class="card-img-top" src="{{data.avatar}}" alt="Card image cap">
                            <div class="card-body p-1">
                              
                              <a mat-button color="primary"  style="border-style: none" class="nav-link" routerLink="/perfil/{{data._id}}">Perfil</a>
                            </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col pl-1 pr-1">
                  <div class="collapse multi-collapse{{i}} index-content" id="multiCollapse2">
                    <div class="card card-body p-1">
                        
                        <mat-tab-group class="demo-tab-group">
                            <mat-tab label="Tab 1">
                                <ng-template  mat-tab-label style="padding:1 px !important; " >
                                  <mat-icon>people</mat-icon>
                                  <br>Acerca  
                                </ng-template>
                                <p>
                                  {{data.descripcion}}
                                </p>
                                <ul class="list-group">
                                  <li class="list-group-item p-1">Nacionalidad:{{data.nacionalidad}}</li>
                                  <li class="list-group-item p-1">Idiomas:</li>
                                  <li class="list-group-item p-1">Horarios: </li>
                                  <li class="list-group-item p-1">Medidas:</li>
                                  <li class="list-group-item p-1">Edad:</li>
                                  <li class="list-group-item p-1">Peso:</li>
                                  <li class="list-group-item p-1">Estatura:</li>
                                  <li class="list-group-item p-1">Atiende en:</li>
                                </ul>
                                <button mat-button (click)="getPictures(data,'foto')" data-toggle="modal" data-target="#exampleModalLong"><mat-icon>collections</mat-icon>Galeria!</button>
                                <button mat-button (click)="getPictures(data,'satisfechos')" data-toggle="modal" data-target="#exampleModalLong"><mat-icon>collections</mat-icon>Satisfecho!</button>
                                
                            </mat-tab>
                              
                            
                            <mat-tab label="Tab 2">
                              <ng-template  mat-tab-label >
                                <mat-icon>today</mat-icon>
                                <br>Fechas  
                              </ng-template>
                              <mat-list>
                                <mat-list-item *ngFor="let folder of folders">
                                  <mat-icon mat-list-icon>date_range</mat-icon>
                                  <h4 mat-line>{{folder.name}}</h4>
                                  <p mat-line> {{folder.updated | date}} </p>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                                
                              </mat-list>
                              
                            </mat-tab>
                                                     
                          </mat-tab-group>
                    </div>
                  </div>
                </div>



          </div>
           
          
      </div>
      
      <div class="mx-auto mt-5" style="width: 100px;">
          <button type="button" class="btn btn-outline-primary" (click)="getVerMas()">VER MAS</button>
      </div> 
     


      <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header sticky-top" style="background:white">
        <h5 class="modal-title" id="exampleModalLabel">{{pictures.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <div *ngIf="tipoFoto =='foto'" class=""  style="height:100%; overflow: scroll;">
          <img  *ngFor="let im of pictures.fotos;let indexim = index" class="d-block w-100 img-fluid mb-2"  data-src="{{im.url}}" alt="Galeria" src="{{im.url}}" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
  
  
  
 
    
 

