  <div class="container">
    
    <div class="row" >
          <div class="col-md-4 col-sm-12" style="height: 150px;overflow: auto">
              <small>You have {{disponibles['length']}} messages </small>
              <ul class="list-group clear-list m-t">
                  <li class="list-group-item fist-item m-0 p-1" *ngFor="let d of disponibles;">
                       <img src="https://material.angular.io/assets/img/examples/shiba1.jpg" alt="..." class="img-thumbnail" style="width: 25; height: 25px;">
                       {{d.id}}
                      <span class="pull-right">
                        <span class="badge badge-info">CDMX</span>
                      </span>
                  </li>
              </ul>
          </div>
          <div class="col-md-4 col-sm-12 mt-5 p-0 border border-success" *ngFor="let data of myData ;let i = index">
              <mat-card class="example-card p-0" >
                  <div class="alert  p-0 {{data.disponible ? 'alert-success':''}}" role="alert">
                    <mat-card-header class="m-2">
                      
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title>{{data.id}} <span class="badge badge-success">New</span></mat-card-title>
                        <mat-card-subtitle>{{data.telefono}}</mat-card-subtitle>
                        <mat-card-subtitle>disponible en ??</mat-card-subtitle>
                        <mat-card-subtitle>{{data.disponible}}</mat-card-subtitle>

                    </mat-card-header>
                    <button mat-button color="primary" data-toggle="modal" data-target="#exampleModalLong"  (click)="getPictures(i,'foto')" >Ver fotos</button>
                    <button mat-button color="primary" data-toggle="modal" data-target="#exampleModalLong"  (click)="getPictures(i,'satisfecho')">Clientes satisfechos</button>
                    <a mat-button color="primary" class="nav-link" routerLink="/perfil/{{data._id}}">Perfil</a>
                  </div>


                  <mat-card-content>
                    <mat-card class="p-1 pr-1">
                      <mat-card-content>
                        <mat-tab-group class="demo-tab-group">
                          <mat-tab label="Tab 1">
                            <ng-template mat-tab-label class="marginIcon">
                              <mat-icon>security</mat-icon>
                            </ng-template>
                            <div class="demo-tab-content">
                              
                              <ul class="list-group">
                                <li class="list-group-item">Cras justo odio</li>
                                <li class="list-group-item">Dapibus ac facilisis in</li>
                                <li class="list-group-item">Morbi leo risus</li>
                                <li class="list-group-item">Porta ac consectetur ac</li>
                                <li class="list-group-item">Vestibulum at eros</li>
                              </ul>
                            </div>
                          </mat-tab>
                          <mat-tab label="Tab 2">
                            <ng-template mat-tab-label>
                              <mat-icon>attach_file</mat-icon>
                            </ng-template>
                            
                            <mat-list>
                              <h3 mat-subheader>Atension semanal</h3>
                              <mat-list-item *ngFor="let folder of folders">
                                <mat-icon mat-list-icon>folder</mat-icon>
                                <h4 mat-line>{{folder.name}}</h4>
                                <p mat-line> {{folder.updated | date}} </p>
                              </mat-list-item>
                              <mat-divider></mat-divider>
                              
                            </mat-list>
                            
                          </mat-tab>
                                                   
                        </mat-tab-group>
                      </mat-card-content>
                    </mat-card>
                  </mat-card-content>
                 
              </mat-card>



          </div>
      </div>
      <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header sticky-top" >
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="col-md-12 col-sm-12 mt-12" *ngFor="let pic of pictures;">
          <img  *ngIf="pic.status==tipoFoto" src="{{pic.url}}" class="img-fluid" alt="image model">
        </div>
          
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


    </div>

  
  
  
 
    
 

