
 <div class="container">
    
    <div class="row" >
          <div class="col-sm-12 col-md-12 p-0 ">
              <small>Esta viendo 10  promos de {{promos['length']}}</small>
              <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item {{i == 1 ? 'active':''}} max-img-promo" *ngFor="let p of promos | slice:0:10;let i = index">
                     <div class="row">
                      <div class="col">
                        <img class="d-block w-100 rounded  img-fluid" data-src="{{p.avatar}}" alt="First slide [800x400]" src="{{p.avatar}}" data-holder-rendered="true" style=" max-width: 100%;max-height: 100%;">
                      </div>
                      <div class="col">
                          <h5>{{p.id}}</h5>
                          <p class="text-primary small">{{p.promos.descripcion}}</p>
                          <a  href="#/promos" mat-raised-button color="accent">Ver mas promos</a>
                      </div>
                    </div>
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
            </div>
            
          </div>
        
        
          <div id="card_{{data.id}}" class="col-md-4 col-sm-12 mt-2 p-0 " *ngFor="let data of myData | slice:0:verItems ;let i = index">
           

            <div class="row alert-light mr-0 ml-0" role="alert">
               
              <div class="col-10 pr-0 pl-1 ">
                
                
                  <div class="chip custom-background border-bottom" >
                    <img [hidden]="!hideme[i]" src="{{data.profile_image_url_https}}" alt="{{data.id}} " width="96" height="96"  class="mr-1 mat-elevation-z4">
                    <h5 class="mb-0 pl-1">{{data.id}} 
                      <span class="badge badge-light" style="font-size: 10px;padding-bottom:2px;">en  {{data.ciudad}}</span>
                    </h5>
                    <div class="mb-1 pl-1">
                        
                        <a href="{{isMobile ? 'https://api.whatsapp.com/send?phone=521'+data.telefono :'#'}}"  target="{{isMobile ? '_blank':'_self'}}">
                          <span class="h6">{{data.telefono}}</span>
                        </a>
                        <a *ngIf="data.opcionesTelefono.whatsapp"  href="{{isMobile ? 'https://api.whatsapp.com/send?phone=521'+data.telefono :'#'}}" class="pl-2" target="{{isMobile ? '_blank':'_self'}}">
                          <img src="assets/whats.png"  class="profile" matTooltip="Atiende WhatsApp papa!  manda mensaje ya!" alt="Atiende WhatsApp papa! manda mensaje ya!">
                        </a>
                        <a *ngIf="data.opcionesTelefono.twitter" href="http://www.twitter.com/{{data.id}}" class="pl-2" target=" _blank">
                          <img src="assets/twitter.png" class="profile" matTooltip="Valida infor por su Twitter ya!" alt="Atiene DM twitter">
                        </a>
                        <a *ngIf="data.opcionesTelefono.llamadas" href="{{isMobile ? 'tel:'+data.telefono : '#'}}"  class="pl-2" target="{{isMobile ? '_blank':'_self'}}">
                          <img src="assets/phone.png" class="profile" matTooltip="Atiende llamadas papaaa! marcale ya!" alt="Atiende llamadas papaaa!">
                        </a>
                        
                      </div>
                  
                  </div>
                
              </div>
              <div class="col pr-0 pl-0 mr-1 custom-background border-bottom">
                <mat-icon class="float-right pointer mr-1 mt-1" style="color:white;" [hidden]="!hideme[i]" (click)="gotoCard(data.id);hideme[i] = !hideme[i];" data-toggle="collapse" [attr.data-target]="'.multi-collapse'+i">keyboard_arrow_down</mat-icon>
                <mat-icon class="float-right pointer mr-1 mt-1" style="color:white;" [hidden]="hideme[i]"  (click)="gotoCard(data.id);hideme[i] = !hideme[i];" data-toggle="collapse" [attr.data-target]="'.multi-collapse'+i">keyboard_arrow_up</mat-icon>
               
              </div>
            </div>
          
          <div class="col pl-1 pr-1" style="top: -2px">
                  <div class="collapse multi-collapse{{i}} show index-content" id="multiCollapse1">
                    <div class="card card-body cars-custom p-1" >
                            <img class="card-img-top" src="{{data.profile_image_url_https}}" alt="El avatar">
                            <div class="card-body p-1">
                              
                            </div>
                    </div>
                  </div>
                  
          </div>
          <div class="col pl-1 pr-1" style="top: -2px">
            <div class="collapse multi-collapse{{i}} index-content" id="multiCollapse2">
              <div class="card card-body cars-custom p-1">
                  
                  <mat-tab-group >
                      <mat-tab label="Tab 1" >
                          <ng-template  mat-tab-label   style="padding:1 px !important; " >
                            <mat-icon class="custom-color-icon">people</mat-icon>
                            <br><label class="custom-color-icon">Acerca  </label>
                          </ng-template>
                          <p>
                            {{data.description}}
                          </p>
                          <ul class="list-group">
                            <li class="list-group-item p-1">Nacionalidad: {{data.nacionalidad}}</li>
                            <li class="list-group-item p-1">Idiomas: {{data.idiomas.ingles != 'undefined' ? data.idiomas.ingles ? 'Ingles' :'' :''}} - {{data.idiomas.espanol ? 'Español':''}}</li>
                            <li class="list-group-item p-1">Horarios: {{data.horarioAtencion.hinicio}} - {{data.horarioAtencion.hfin}}</li>
                            <li class="list-group-item p-1">Medidas: {{data.cuerpo.medidas}}</li>
                            <li class="list-group-item p-1">Edad: {{data.edad}}</li>
                            <li class="list-group-item p-1">Peso: {{data.cuerpo.peso}}</li>
                            <li class="list-group-item p-1">Estatura: {{data.cuerpo.estatura}}</li>
                            <li class="list-group-item p-1">Atiende en: {{data.atiende}}</li>
                          </ul>

                          <button mat-button (click)="getPictures(data,'foto')" data-toggle="modal" data-target="#exampleModalLong"><mat-icon>collections</mat-icon>Galeria({{data.fotos.length}})</button>

                          <button mat-button (click)="getPictures(data,'satisfechos')" data-toggle="modal" data-target="#exampleModalLong"><mat-icon>collections</mat-icon>Satisfecho({{data.satisfechos.length}})</button>
                          
                      </mat-tab>
                        
                      
                      <mat-tab label="Tab 2">
                        <ng-template  class="custom-background" mat-tab-label >
                          <mat-icon class="custom-color-icon">today</mat-icon>
                          <br><label class="custom-color-icon">Fechas  </label>
                        </ng-template>
                          <span *ngIf="!data.calendario">No hay calendario :(</span>
                          <img *ngIf="data.calendario"  src="{{data.calendario}}"  alt="Calendario de gira">
                        
                        <mat-divider></mat-divider>
                          
                        
                        
                      </mat-tab>
                                               
                    </mat-tab-group>
              </div>
            </div>
          </div>



          </div>
           
          
      </div>
      
      <div class="mx-auto mt-5" style="width: 100px;">
          <button   type="button" mat-raised-button color="accent" (click)="getVerMas()">VER MAS</button>
      </div> 
     


    <!-- Modal -->
    <!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLong" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header sticky-top custom-color custom-background mr-0" >
        <h5 class="modal-title " id="exampleModalLong">{{pictures.id}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" #container>
        
        <div *ngIf="pictures.length == 0">
        No existe informacion :(
        </div>

            <img *ngFor="let im of pictures;let indexim = index" class="d-block w-100 img-fluid mb-2"   alt="Galeria" bg-src="{{im.media_url_https}}" lazy-load="assets/lg.ajax-spinner-gif.gif" threshold="200" />

             
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        
      </div>
    </div>
  </div>
</div>
  
 
    
 

