

::ng-deep .mat-tab-body-wrapper {
  max-height: 320px;
  min-height: 320px;
}

.demo-tab-content {
  padding: 16px;
}

.example-card {
    max-width: 400px;
}
  
.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}

.marginIcon{
	width: 80px;
}

.mat-tab-label{
    min-width: 60px !important;
    padding: 0px !important;
}

.mat-tab-label-custom{
    padding: 0px !important;
}

.carousel-caption-custom{
	left:0 !important;
	right: 0 !important;
	bottom: 0 !important;
}

.index-content {

	box-shadow: 0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
    color:black;
}


.botonDetail{
	position: absolute;
    margin-left: 85%;
    z-index: 100;
   }

.max-img-promo {
    max-height: 200px !important;
}

.pointer {cursor: pointer;}

@media (min-width: 768px) { 

 }


@media (min-width: 992px) { 
    
}




.chip {
    height: 50px;
    font-size: 12px;
    color:#fff;
}
  
  .chip a{
    color:#fff !important;
    text-decoration: none;
  }
  
  .chip img {
    float: left;
    
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }

  .profile {
    
    float: none !important;
    height: 20px !important;
    width: 20px !important;
    border-radius: 0% !important;
    
  }


  a.nav-link, a.nav-link:hover, a.nav-link:active, a.nav-link:visited, a.nav-link:focus {
    text-decoration:none !important;
}
