<main>
      <div class="container">
          <div class="row row-offcanvas row-offcanvas-right">
              <div class="col-xs-12 col-sm-12">
                  <ol class="breadcrumb">
                  	<li class="breadcrumb-item"><a routerLink="/">Home1</a></li>
                      <li class="breadcrumb-item"><a routerLink="/promos">Home2</a></li>
                      <li class="breadcrumb-item"><a routerLink="/model">Home3</a></li>
                      <li class="breadcrumb-item active">Courses</li>
                  </ol>
                  
              </div>
              <router-outlet name="sidebavmenu"></router-outlet>
          </div>
      </div>
  </main>
     <router-outlet></router-outlet>