



.custom-color-icon{
  color: #9C27B0 !important;

}


/*.custom-background{
  background-color: #aaCc00 !important;
  background: -moz-linear-gradient(top, #aaCc00 0%, #aaCc00 99%); 
  background: -webkit-linear-gradient(top, #aaCc00 0%,#aaCc00 99%);
  background: linear-gradient(to bottom, #aaCc00 0%,#aaCc00 99%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaCc00', endColorstr='#aaCc00',GradientType=0 );
}*/


.custom-background{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff5db1+0,e91e63+100 */
  background: #ff5db1; /* Old browsers */
  background: -moz-linear-gradient(top, #ff5db1 0%, #e91e63 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #ff5db1 0%,#e91e63 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #ff5db1 0%,#e91e63 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5db1', endColorstr='#e91e63',GradientType=0 ); /* IE6-9 */

}

.custom-color{
    color:#fff !important;
}

.cars-custom{
    border-style: solid;
    border-color: #9C27B0;
    border-width: thin;
    max-height: 400px;
}

.custom-img-avatar{
  height: 50px !important;
    width: 50px !important;
}

.custon-radio-0{
  border-radius: 1% !important;
  width: 30px  !important;
  height: 30px  !important;
}

.custon-radio-0{
  border-radius: 1% !important;
  width: 30px  !important;
  height: 30px  !important;
}

.custom-img-avatar{
  height: 50px !important;
    width: 50px !important;
}

.mytitle{
 font-family:Londrina Shadow, sans-serif;
 font-size:2em;
 text-align:center;
 color: #000;
 text-shadow: 0 0 1px #FFF, 0 0 15px #FFF, 0 0 20px #FFF, 0 0 205px #FFF, 0 0 30px #FFF;
}