<main>
      <div class="container">
         <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" routerLink="/promos">Acceso 1</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/disponibles">Acceso 2</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/model">Aceeso 3</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" routerLink="/perfil">Perfil</a>
                </li>
                <li class="nav-item">
                  
                  <a  href="/login" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
                  {{usuario}}
                  
                 
                  
                </li>
              </ul>
            </div>
          </nav>
      </div>
  </main>
  <spinner></spinner>
     <router-outlet></router-outlet>

<!-- Modal -->
<div class="modal fade" id="generalModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header sticky-top bg-white" >
        
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
      {{msgPromo}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>l
</div>     