



.custom-color-icon{
  color: #9C27B0 !important;
}


.custom-background{
  background-color: #aaCc00 !important;
  background: -moz-linear-gradient(top, #aaCc00 0%, #aaCc00 99%); 
  background: -webkit-linear-gradient(top, #aaCc00 0%,#aaCc00 99%);
  background: linear-gradient(to bottom, #aaCc00 0%,#aaCc00 99%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaCc00', endColorstr='#aaCc00',GradientType=0 );
}

/*
.custom-background{
  background-color: #9C27B0 !important;
  background: -moz-linear-gradient(top, #9C27B0 0%, #9C27B0 99%); 
  background: -webkit-linear-gradient(top, #9C27B0 0%,#9C27B0 99%);
  background: linear-gradient(to bottom, #9C27B0 0%,#9C27B0 99%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9C27B0', endColorstr='#9C27B0',GradientType=0 );
}*/

.custom-color{
    color:#fff !important;
}

.cars-custom{
    border-style: solid;
    border-color: #9C27B0;
    border-width: thin;
}

.custom-img-avatar{
  height: 50px !important;
    width: 50px !important;
}

.custon-radio-0{
  border-radius: 1% !important;
  width: 30px  !important;
  height: 30px  !important;
}

.custon-radio-0{
  border-radius: 1% !important;
  width: 30px  !important;
  height: 30px  !important;
}

.custom-img-avatar{
  height: 50px !important;
    width: 50px !important;
}




.mytitle{
 font-family:Mr Dafoe, sans-serif;
 font-size:2em;
 text-align:center;
 text-shadow: 0 -3px 0 #333,
    0 6px 8px rgba(0,0,0,.4),
    0 9px 10px rgba(0,0,0,.15),
    0 30px 10px rgba(0,0,0,.18),
    0 15px 10px rgba(0,0,0,.21);

}