<div>

<div class="chip p-0" style="display:inline !important;">
  <div class="row" >
    <div class="col-3">
        <img src="{{data.item.msgUrl}}" alt="imagen" >  
    </div >
    <div class="">
        <h2 mat-dialog-title class="m-0">{{data.item.msgTitle}}</h2>
        <img class="emoji" *ngIf="data.item.msgTelefono != null" src="../assets/if_Big_Smile.png" alt="con telefono" >   
        <img class="emoji" *ngIf="data.item.msgTelefono == null" src="../assets/if_Big_Frown.png" alt="con telefono" >

        {{data.item.msgTelefono != null ? data.item.msgTelefono:'Aun no tenemos su telefono! \n Pero revisa la mension y valida &#8681;'}}
        <a *ngIf="data.item.msgTelefono != null"  href="{{isMobile ? 'https://api.whatsapp.com/send?phone=521'+ data.item.msgTelefono :'javascript:;'}}" class="" target="{{isMobile ? '_blank':'_self'}}">
            <img src="assets/if_whats.png" style="width:15px !important;height:15px !important" class="profile mat-elevation-z1" matTooltip="Atiende WhatsApp papa!  manda mensaje ya!" alt="Atiende WhatsApp papa! manda mensaje ya!">
        </a>
        
          

    </div>
  </div>  
</div>
  
<hr>
  <mat-dialog-content>
                
    {{data.item.msgDescripcion}}
  </mat-dialog-content>
    
  
  <hr>
  <p class="small">ultima actualización:{{data.item.msgFecha}}</p>
	<mat-dialog-actions>
	    <button type="button" mat-raised-button color="accent" (click)="closeDialog()" >Cerrar</button>
  </mat-dialog-actions>
</div>



