



<div class="row" >
<div class="col-12 sticky-top">
<button type="button"  class="btn btn-light" (click)="closeDialog()" class="close" aria-label="Close">
  <span aria-hidden="true">&times;</span>

</button>
</div>
  <div class="col-3 col-md-3 p-0 m-0">
    <img src="{{data.item.msgUrl}}" class="custom-img-avatar" alt="imagen" >  
    <p class="card-text mb-0">

      <a *ngIf="data.item.msgItem.vip" class="btn btn-light" href="#/model/{{data.item.msgTitle}}" >
      Perfil</a>
     </p>
  </div >
  <div class="col-9 col-md-9 p-0 m-0">
    <h2 mat-dialog-title class="m-0">{{data.item.msgTitle}}</h2>  
    <p class="card-text mb-0">{{data.item.msgItem.telefono}}</p>
    <div *ngIf="data.item.msgItem.telefono == null"  class="col-sm-12 col-md-12">
      <label class="texto-label">Aun no tenemos su telefono!... Revisa la mensión &#8681;</label>
    </div>
    
      <div *ngIf="data.item.msgItem.opcionesTelefono.whatsapp && data.item.msgItem.telefono !=null" class="d-inline">
          <a (click)="eventAnalytics(data.item.msgItem.from,'whatsapp')"   href="{{isMobile ? 'https://api.whatsapp.com/send?phone=521'+data.item.msgItem.telefono :'javascript:;'}}" target="{{isMobile ? '_blank':'_self'}}" >
            
             <img src="assets/whatsapp.png" alt="Atiende WhatsApp" class="custon-radio-0">

          </a>
      </div>
      
      <div *ngIf="data.item.msgItem.opcionesTelefono.llamadas && data.item.msgItem.telefono !=null" class="d-inline">
          <a (click)="eventAnalytics(data.item.msgItem.from,'llamada')"  href="{{isMobile ? 'tel:'+data.item.msgItem.telefono : 'javascript:;'}}"  target="{{isMobile ? '_blank':'_self'}}" >
            <img src="assets/phonev2.png" alt="Atiende WhatsApp"  class="custon-radio-0">

          </a>
    
      
    </div> 
  </div> 
  
</div>
<hr class="mt-0">
  <mat-dialog-content>
      {{!data.item.msgItem.vip ? data.item.msgDescripcion:''}}
      <nav *ngIf="data.item.msgItem.vip">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
            <mat-icon class="custom-color-icon">account_circle</mat-icon>
          </a>
          <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
            <mat-icon class="custom-color-icon">photo</mat-icon>  
          </a>
          
        </div>
      </nav>
      <div *ngIf="data.item.msgItem.vip" class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
          {{data.item.msgDescripcion}}
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
          <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item {{i == 1 ? 'active':''}} " *ngFor="let pic of data.item.msgItem.images | slice:0:10;let i = index">
              <img class="d-block w-100 img-fluid" style="max-height: 250px;" src="{{pic.media_url_https}}" alt="imagen modelo {{data.item.msgTitle}}">
            </div>
            
          </div>
          <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        </div>
        
      </div>



      

    
  </mat-dialog-content>
    

  
  
  
	<mat-dialog-actions>
      <p class="small">Actualización:{{data.item.msgFecha}}</p>
	    
      
  </mat-dialog-actions>




